[Unit]
Description=Runs rdate hourly and on boot(timer)
After=network.target

[Timer]
OnBootSec=0
OnUnitActiveSec=6h
Unit=rdate.service

[Install]
WantedBy=multi-user.target